apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld-deployment
  labels:
  app: helloworld
spec:
  replicas: 5
  selector:
    matchLabels:
      app: helloworld
  template:
    metadata:
      labels:
        app: helloworld
    spec:
      containers:
      - name: helloworld
        image: ramandoc26/helloworld-demo-python:v1
        ports:
        - containerPort: 8080
